<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.wildfly.byteman.rule.helper.threadpool">
    <resources>
        <resource-root path="${project.build.finalName}.jar"/>
    </resources>
    <dependencies>
    	<module name="org.infinispan"/>
        <module name="org.jgroups"/>
        <module name="org.apache.log4j"/>
    </dependencies>
</module>